* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdffee;
  font-size: 16px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  font-family: 'EB Garamond', serif;
  line-height: 1.2em;
}

button, h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}

textarea {
  font-family: 'EB Garamond', serif;
}

p {
  margin: 1em 0;
  padding: 0;
}

header#intro {
  text-align: center;
}
header#intro .btn {
  font-family: 'Ubuntu', sans-serif;
}
header#intro h1 {
  color: #fdffee;
  margin: 0;
  padding: .3em;
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
}
header#intro #banner-img {
  background-color: #333333;
}
header#intro img {
  margin: 0 auto 25px;
  border-radius: 15px;
}

main#intro {
  display: block;
  max-width: 55rem;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  border-radius: 15px;
}
main#intro h1 {
  margin: 0;
  font-size: 3rem;
  padding: 15px;
}
main#intro h2 {
  margin: 0;
  font-size: 1.75rem;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
main#intro h3 {
  margin: 0 0 1.3em 0;
  font-size: 1.4rem;
  padding: .5em;
  border-bottom: solid 1px #333333;
}
main#intro p {
  font-size: 1.2rem;
  text-align: left;
}
main#intro .btn {
  display: inline-block;
  margin: 1.5rem;
  padding: 1rem;
  vertical-align: bottom;
  background-color: #ffdd88;
  text-decoration: none;
  border: 2px solid #930;
  border-radius: 15px;
  color: #000000;
  font-weight: 900;
  font-size: 1.4rem;
}
main#intro .btn::first-letter {
  text-decoration: underline;
  text-decoration-color: #930;
  font-size: 1.2em;
  letter-spacing: 1px;
}

footer {
  text-align: center;
  margin: 0;
  padding: 5em 0;
}

button {
  background: linear-gradient(#f5e882, #c7ba6b);
  border: solid 1px #000000;
  padding: 5px;
  font-family: 'EB Garamond', serif;
}

button, h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}

button:hover, button:focus {
  color: white;
  background: none;
  background-color: #423e24;
}

textarea {
  font-family: 'EB Garamond', serif;
  box-sizing: border-box;
}

header#top, header#help {
  text-align: center;
}
header#top img, header#help img {
  display: inline-block;
  margin: 0 1.5rem 0 0;
  height: 4rem;
  vertical-align: middle;
}
header#top h1, header#help h1 {
  display: inline-block;
  margin: 2rem 0 0;
}

nav {
  width: 100%;
  display: block;
}
nav ul {
  list-style: none;
  margin-top: 5px;
}
nav ul li {
  display: inline-block;
  width: 18%;
  border-right: 1px solid gray;
}
nav ul :last-child {
  border-right: 0;
}
nav ul a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #000000;
}
nav ul a:hover, nav ul a:focus {
  color: white;
  background-color: #423e24;
}

main#write {
  margin: 2rem 0 0;
}
main#write form#writing {
  width: 100%;
  padding: 0;
  margin: 0;
}
main#write form#writing fieldset {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  width: 28%;
}
main#write form#writing fieldset#write-box {
  display: inline-block;
  margin: 1.5rem 1%;
  padding: 0;
  width: 70%;
  height: 11rem;
}
main#write form#writing fieldset#write-box textarea {
  margin: 0;
  padding: 2px 3px;
  height: 10rem;
  width: 100%;
  border: solid 2px #999999;
}
main#write form#writing fieldset#write-box textarea:hover, main#write form#writing fieldset#write-box textarea:focus {
  outline: none !important;
  border: dashed 2px #999999;
  background-color: white;
}
main#write form#writing fieldset#box-buttons {
  margin: 3rem 0 0 0;
}
main#write form#writing fieldset#box-buttons button {
  margin-top: 4px;
  width: 100%;
}
main#write form#writing fieldset#box-buttons :first-child {
  margin-top: 0;
}
main#write #spelling-area {
  clear: both;
  text-align: center;
}
main#write #spelling-area #more-words {
  text-decoration: none;
}
main#write #spelling-area a:hover, main#write #spelling-area a:focus {
  color: white;
  background-color: #423e24;
}
main#write #snippet-area {
  margin: 0 0 0 10px;
}
main#write #snippet-area #snippets {
  margin: 0 auto;
  width: 100%;
}
main#write #snippet-area #snippets li {
  display: inline-block;
  width: 24%;
  margin: 0.2rem auto;
  text-decoration: none;
  border: 1px solid gray;
  list-style: none;
  background-color: #ccccff;
}
main#write #snippet-area #snippets li a {
  padding: 5px;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  width: 100%;
}
main#write #snippet-area #snippets li a:hover, main#write #snippet-area #snippets li a:focus {
  color: white;
  background-color: #423e24;
}

header#help h2 {
  margin: 1em 0;
  font-family: 'Ubuntu', sans-serif;
}

main#help {
  text-align: left;
}
main#help ul {
  margin: 1rem 2rem 2rem;
}
main#help ul li {
  margin-bottom: 0.5em;
}
main#help h3 {
  margin: 1em 0;
}
main#help #alpha-list {
  display: block;
  max-width: 20rem;
  margin: 1.75rem auto;
  clear: both;
  background-color: #f9fee8;
  font-size: 0;
}
main#help #alpha-list h4#table-header {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  margin: 0 0 8px;
  text-align: center;
}
main#help #alpha-list .col {
  width: 72%;
  display: inline-block;
  margin: 0;
  padding: 5px;
  border: 1px gray solid;
  border-spacing: 0;
  font-size: 1rem;
}
main#help #alpha-list .narrow {
  width: 27%;
}
main#help #alpha-list .header {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 773px) {
  nav li {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-right: solid 1px black;
    height: 3rem;
    vertical-align: top;
  }
  nav li a {
    display: block;
    border: none;
  }
  nav li span {
    display: block;
    clear: both;
    width: 100%;
  }
}
@media only screen and (max-width: 649px) {
  nav li {
    height: 4rem;
  }
}
@media only screen and (max-width: 640px) {
  button {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  main#write form#writing fieldset#write-box {
    margin: 0 0 10px;
    width: 100%;
  }
  main#write form#writing fieldset#box-buttons {
    margin-top: 0;
    padding-top: 0;
    height: auto;
    border: solid 1px purple;
    clear: both;
    width: 100%;
  }
  main#write #spelling-area {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  main#write #spelling-area #more-words {
    display: inline-block;
    padding: 13px 10px;
  }
  main#write #snippet-area {
    margin: 0;
  }
  main#write #snippet-area .operation {
    width: 100%;
    margin: .1rem 0;
  }
  main#write #snippet-area #snippets li {
    width: 100%;
    margin: .15rem 0;
  }
  main#write #snippet-area #snippets li a {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
